<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>IMS | Login</title>



<!-- Google Font: Source Sans Pro -->
<!-- link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"-->
<!-- Font Awesome -->
<link rel="stylesheet"
	th:href="@{/plugins/fontawesome-free/css/all.min.css}">
<!-- icheck bootstrap -->
<link rel="stylesheet"
	th:href="@{/plugins/icheck-bootstrap/icheck-bootstrap.min.css}">
<!-- Theme style -->
<link rel="stylesheet" th:href="@{/css/adminlte.min.css}">

<script type="text/javascript"
	th:src="@{/plugins/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script type="text/javascript"
	th:src="@{/plugins/bootstrap/4.3.1/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery/jquery.min.js}"></script>

</head>

<body class="login-page">

	<div class="login-box">
		<!-- /.login-logo -->
		<div class="card card-outline card-primary">
			<div class="card-header text-center">
				<p class="h1">IMS</p>
			</div>
			<div class="card-body">
				<p class="login-box-msg">Sign in</p>

				<form th:action="@{/login}" method="POST" class="form-signin">
					<div class="input-group mb-3">
						<input type="text"  id="username" name="username" class="form-control" placeholder="Username">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-user"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input type="password"  id="password" name="password" class="form-control" placeholder="Password">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-8">
							<div class="icheck-primary"></div>
						</div>
						<!-- /.col -->
						<div class="col-4">
							<button type="submit" class="btn btn-primary btn-block">Sign
								In</button>
						</div>

						<!-- /.col -->
					</div>
					<div class="row">
						<div align="center" th:if="${param.error}">
							<p style="font-size: 14; color: #FF1C19;">Invalid username or password, please verify</p>
						</div>
					</div>
				</form>
				<!-- /.social-auth-links -->

				<p class="mb-1">
					<a href="forgot-password.html">I forgot my password</a>
				</p>

			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
	</div>
	<!-- /.login-box -->
	</main>
	<!-- /.container -->


</body>
</html>